<!-- <h1 style="color: red;">{{result | json}}</h1> -->
<br>

<div class="container">
  <button (click)="exportToExcel()" class="btn purple lighten-1"><i class="fas fa-file-excel"></i></button> |
  <button (click)="downloadPDF()" class="btn  red light-gray">
    <i class="fas fa-file-pdf"></i></button>

  <div class="container" id="content" #content>
    <table class="table table-bordered table-sm" id="excel-table">
      <thead class="black white-text">
        <tr>

          <th scope="col">ORDER ID</th>
          <th scope="col">ORDER CODE</th>
          <th scope="col">STATUS</th>
          <th scope="col">SHIPMENT CODE</th>
          <th scope="col">VENDOR</th>
          <th scope="col">REF NUMBER</th>
          <th scope="col">QTY CHECK</th>
          <th colspan="20">OPERATION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of result">
          <td>{{x.id}}</td>
          <td>{{x.orderCode}}</td>
          <td>{{x.status}}</td>
          <td>{{x.shipmentType}}</td>
          <td>{{x.vendor}}</td>
          <td>{{x.referenceNumber}}</td>
          <td>{{x.qualityCheck}}</td>


          <td> <a class="btn blue light-gray">
              <span  style="font-size:15px; color: Tomato;" [routerLink]="['view',(x.id)]"><i class="far fa-eye"></i></span></a></td>
          <td> <a class="btn btn-info">
              <span style="font-size:15px; color: red;" [routerLink]="['update',(x.id)]"><i class="far fa-edit"></i></span></a></td>
          <td> <a class="btn btn-sm lime lighten-1">
              <span [routerLink]="['part',(x.id)]">PART</span></a>
          </td>

          <td>
            <div [ngSwitch]="x.status">
              <span  *ngSwitchCase= "'ORDERED'">
                <button (click)="generateInvoiceOrder(x.id)" style="color:darkgoldenrod;font-size:10px;"  class="btn btn-sm btn-outline-secondary">GENERATE INVOICE</button>
              </span>
              <span *ngSwitchCase= "'INVOICED'">
                <button (click)="generateInvoiceOrder(x.id)" style="color:chocolate;font-size:12px;"  class="btn btn-sm btn-outline-dark">PRINT INVOICE</button>
              </span>
              <span *ngSwitchCase= "'PICKING'" >
                <b style="color:crimson;font-size:12px;">UNDER SELECTION</b>
              </span>
              <span *ngSwitchCase= "'OPEN'">
                <b style="color:blue;font-size:18px;">ITEMS TO BE ADDED</b>
              </span>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <app-uom-update></app-uom-update> -->
<router-outlet></router-outlet>