<!-- <h1 style="color: red;">{{result | json}}</h1> -->
<br>
 
<div class="container">
  <button (click)="exportToExcel()" class="btn  purple lighten-1">Export To Excel</button> |
  <button (click)="downloadPDF()" class="btn  red light-gray" >Download PDF</button>

  <div class="container" id="content" #content>  
    <table class="table table-bordered table-sm" id="excel-table">
        <thead class="black white-text">
          <tr>
           
            <th scope="col">PART ID</th>
            <th scope="col">PART CODE</th>
            <th scope="col">BASE COST</th>
            <th scope="col">BASE CURRENCY</th>
            <th scope="col">UOM</th>
            <th colspan="20">OPERATION</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let x of result">
            <td>{{x.id}}</td>
            <td>{{x.partCode}}</td>
            <td>{{x.baseCost}}</td>
            <td>{{x.baseCurr}}</td>
            <td>{{x.uom}}</td>

             <td><button (click)="deletePartData(x.id)" class="btn red lighten-1"><i class="fas fa-trash"></i></button> |
            <a class="btn blue light-gray">
              <span [routerLink]="['view',(x.id)]"><i class="far fa-eye"></i></span></a>|
             <a class="btn btn-info">
              <span [routerLink]="['update',(x.id)]"><i class="far fa-edit"></i></span></a>
            </td> 
           
           
          </tr>
        </tbody>
      </table>
  </div>
</div>
<router-outlet></router-outlet>